<form method="post" action="{{rootUrl}}/secret/delete" class="editor">
  <input type="hidden" name="id" value="{{{post.id}}}" />

  <h1>Are you sure you want to delete "{{post.metadata.title}}?"</h1>

  <p>
    <input type="submit" value="Delete" onClick="return confirm('Are you really sure!?!')" />
    <a href="{{rootUrl}}/secret">Cancel</a>
  </p>
</form>