body {
  color: #F0F0F0;
  background-color: #666;
}

.editor label {
  display: block;
}

.editor input[type=text] {
  width: 100%;
}

.editor textarea {
  width: 100%;
  height: 300px;
}


a {
  color: #FFF;
}

ul.posts {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.posts li {
  padding: 0.5rem;
  clear: both;
}

ul.posts li.draft {
  font-style: italic;
}

ul.posts li .helper {
  text-decoration: none;
  font-style: normal;
  float: right;
}