<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/secret.css" />
  </head>
  <body>
    <div id="main">
      <h1>Secret Control Panel</h1>
      <nav class="toolbar">
        <a href="/secret">All Posts</a>
        <a href="/secret/new">New Post</a>
      </nav>

      {{{body}}}
    </div>
  </body>
</html>
